$tablet-width: 768px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}


.top-nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 4% 5% 0 5%;
    width: 100vw;

    @include tablet {
        padding: 7% 10% 0 10%;
    }
}