@import url("https://use.typekit.net/ypa1jjr.css");

* {
    font-family: neue-haas-grotesk-display, sans-serif;
}


button {
    outline: none;
    border: none;
    background: none; 
    transition: all .1s ease-in-out;

    &:hover {
        filter: brightness(.8)
    }

    &:active {
        filter: brightness(.6);
    }
}