$tablet-width: 768px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

.bottom-nav-container {
    position: absolute;
    width: 100vw;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: #27272E;
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    @include tablet {
        height: 75px;
    }

    button {
        flex: 1;

        &:hover {
            filter: unset;
        }

        svg {
            transition: all .1s ease-in-out;

            @include tablet {
                height: 25px;
            }
        }

        &:nth-child(3) {
            svg {
                @include tablet {
                    height: 35px;
                } 
            }
        }
    }

    
}